<h1>Hire a baby sitter</h1>
<p>
  <%= link_to 'View all Parent' ,parents_path%><br>
  <%= link_to 'View all BabySitter', sitters_path %><br>
  <%= link_to 'Hire One & check appointments', jobs_path %><br>

</p>
